@charset "UTF-8";
#top {
	overflow: hidden;
}
#bottom {
	clear: both;
	text-align: center;
}
body {
	background-color: #EFF5F8;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100%;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	background-color: #FFFFFF;
}
#top h1 {
	color: #3399CC;
	text-align: center;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-size: 100px;
}
#main ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	float: left;
}
#main ul li img  {
	width: 100%;
	float: left;
	border: 2px solid #fff;
}
#main .delete, #main .edit
{
	border: 2px solid #fff;
	background-color: #fff;
}
#main {
	width: 95%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}
#main ul li {
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 23%;
	position: relative;
}
#main ul li:nth-child(4n+1) {
	clear: left;
}
#main ul li img {
	height: 150px;
}
#main .delete, #main .edit {
	position: absolute;
	display: none;
}
#filedrag {
	width: 100%;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 20px;
	cursor: default;
	background-image: url(./progress.png);
	background-repeat: repeat-y;
	background-size: 0% auto;
	clear: both;
}
#filedrag.hover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}#view {
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0px;
}
.hide {
	display: none;
}
#mask {
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: 0.7;
}
#photo {
	position: absolute;
	margin-left: auto;
	top: 0px;
	background-color: #3399CC;
	margin-right: auto;
	border: 5px solid #FFFFFF;
	border-radius: 20px;
}
#c11 {
	width: 10px;
	height: 10px;
	cursor: nw-resize;
}
#c13 {
	width: 10px;
	height: 10px;
	cursor: ne-resize;
}
#c12 {
	cursor: n-resize;
}
#c21 {
	cursor: w-resize;
}
#c23 {
	cursor: e-resize;
}
#c31 {
	width: 10px;
	height: 10px;
	cursor: sw-resize;
}
#c33 {
	width: 10px;
	height: 10px;
	cursor: se-resize;
}
#c32 {
	cursor: s-resize;
}
